header{
    nav{
        margin: 0 2% 0 -10%;
        width: 45%;

        a {
            margin-left: 10%;
            font-size: 1.8rem;
            text-decoration: none;
            color: white;
        }
    }
}